<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorChatAppTutorial</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var joinedRoom in AppState.JoinedRooms)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"room/{joinedRoom.Value.RoomName}")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @joinedRoom.Value.RoomName (@joinedRoom.Value.UnreadCount.ToString())
                </NavLink>
            </li>
        }
    </ul>
</div>
