@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="appState" OnValidSubmit="OnValidFormSubmit">
    <label for="userNameInput">User Name: </label>
    <InputText id="userNameInput" @bind-Value="appState.UserName" />
    <button type="submit">Submit</button>
</EditForm>
