<label>
    User: @AppState.UserName
</label>
<EditForm Model="newChatMessage" OnValidSubmit="Send">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="messageInput">
        Message:
        <InputText id="messageInput" @bind-Value="newChatMessage.Message" size="50" />
    </label>
    <button type="submit" class="btn btn-primary" disabled="@(!IsConnected)">Send</button>
</EditForm>
<hr />

<div id="messagesList">
    @foreach (ChatMessageModel chatMessage in ChatMessages)
    {
        <ChatMessageComponent ChatMessage="chatMessage" />
    }
</div>
